<form action="/register" method="post" id="register">
    <label for="">Username</label>
    <input type="text" name="username">
    <label for="">Password</label>
    <input type="text" name="password">
    <input type="submit">
</form>