<div class="colorMe">
    <div class="relativeWrapper colFlex" style="justify-content: center;">
        <div class="closeBtn hide" onclick="loadComments()">
            <i class="far fa-times-circle"></i>
        </div>
        <div id="cardComments">
            <% if(comments) {%> 
            <% for(let counter = 0; counter < comments.length; counter++){ %> 
                <div class="userComment <% if(userID == comments[counter]._id) {%>blueComment<% } %>" >
                    <h3><%= comments[counter].name %> <i class="far fa-user-circle" id="myBlue" style="font-size: 20px;"></i></h3>
                    <p style="padding: 0; margin: 0;"><%= comments[counter].comment %> </p>
                </div>
            <% } %> 
            <% } %> 
        </div>
        <form class="form colFlex" action="/newComment/" method="POST">
            <textarea name="comment" id="newComment" cols="30" rows="10" placeholder="Write a message..."></textarea>
            <input type="text" name="title" value="<%= title %>" style="display: none;" id="hiddenBox">
            <button style="align-self: flex-end; margin-top: 7px;" id="postComment" class="btn">Submit</button>
        </form> 
    </div>
</div>
