


<div class="colFlex" style="width: 100%;" id="explore">
    <h1>Explore.</h1>
    <!-- <div id="searchOptions">
        <div class="rowFlex">
            <div class="searchOptions hoverable" id="selectedSearch"><p>
                Articles
            </p></div>
            <div class="searchOptions hoverable"><p>
                People
            </p></div>
        </div>
    </div> -->
    <div id="searchBox">
        <input type="search" id="search" name="search">
        <button id="searchButton" class="colFlex hoverable"><i class="bi bi-search" onclick="queryType()"></i></button>
        <div id="dropBox" class="colFlex" style="justify-content: flex-start;align-items: flex-start;">
            <div class="closeBtn" style="right: 15px;">
                <i class="far fa-times-circle"></i>
            </div>
            <div class="rowFlex">
                <h1 class="hoverable" id="searchSelect">Articles</h1>
                <h1 class="hoverable">People</h1>
            </div>
        </div>
    </div> 
    
    <%- include('./card') %> 
</div>