<div id="toggleMenu">
    <i class="bi bi-list hoverable" style="padding: 5px;"></i>
</div>
<nav>
    <a href="/">
        <div class="navBox">
            <i class="fas fa-home"></i>
            <p>Home</p>
        </div>
    </a>
    <a href="/explore">
        <div class="navBox">
            <i class="bi bi-bar-chart"></i>
            <p>Explore</p>
        </div>
    </a>
    <a href="/chat">
        <div class="navBox">
            <i class="bi bi-chat-dots"></i>
            <p>Chat</p>
        </div>
    </a>
    <a href="/write">
        <div class="navBox">
            <i class="fas fa-edit"></i>
            <p>Post</p>
        </div>
    </a>
    <a href="/profile">
        <div class="navBox">
            <i class="bi bi-person-circle"></i>
            <p>Profile</p>
        </div>
    </a>
    <a href="/settings">
        <div class="navBox">
            <i class="fas fa-cog"></i>
            <p>Settings</p>
        </div>
    </a>
</nav>