<nav>
    <a href="/">
        <div class="navBox">
            <i class="fas fa-home"></i>
        </div>
    </a>
    <a href="/explore">
        <div class="navBox">
            <i class="bi bi-bar-chart"></i>
        </div>
    </a>
    <a href="/write">
        <div class="navBox">
            <i class="fas fa-edit"></i>
        </div>
    </a>
    <a href="/profile">
        <div class="navBox">
            <i class="bi bi-person-circle"></i>
        </div>
    </a>
    <a href="/settings">
        <div class="navBox">
            <i class="fas fa-cog"></i>
        </div>
    </a>
</nav>