<%- include('./navigation') %> 
<%- include('./logout') %> 
<h1>Share with Us.</h1>
<div class="inputWrap" id="i1">
    <input type="text" id="blogTitle">
</div>
<div class="inputWrap" id="i2">
    <input type="text" id="blogCaption">
</div>
<div class="inputWrap" id="i3">
    <input type="text" id="blogKeywords">
</div>
<div class="inputWrap" id="i4">
    <textarea name="" id="" cols="30" rows="10" id="blogArticle"></textarea>
</div>
<div id="submitBtn" onclick="newPost()">
    <p>Post</p>
</div>
